input[type="color"] {
    width: 70px;
    border-radius: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {

    width: 70px;
    padding: 0;
    border-radius: 100px;
}

input[type="color"]::-webkit-color-swatch {
    width: 70px;
    border: none;
    padding: 0;
    border-radius: 100px;

}

#cor_title {
    position: relative;
    top: -7vw;
    left: 1vw;
}

#cor_hr {
    position: absolute;
    width: 16vw;
    top: 10vw;
    background-color: aliceblue;
    margin-left: 1vw;
}

#Cores {
    width: 20vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    background-color: #002feb;
    justify-content: center;
}

.area_cor {
    position: relative;
    background-color: #e0a555;
    width: 75px;
    height: 38px;
    top: -100px;
    margin-left: 0vw;
    border-radius: 20px;
    transition: 0.5s;
    font-size: large;
    transition: .5s;
    margin-top: 2vw;
    float: left;
    left: 3vw;
    display: flex;
    align-items: center;
}

.color_formato {
    width: 60px;
    height: 35px !important;
    position: relative;
    float: left;
    left: -4.83vw;
}

.color_label {
    position: relative;
    right: 2vw;
    width: 0vw;
    overflow: hidden;
}

/* 
#bgColor{
    width: 60px;
    height: 35px;
    position: relative;
    top: 40px;
    left: 70px;
}
#msgCliente{
    width: 60px;
    height: 35px;
    position: relative;
    left: -4.8vw;
}

#msgcColor{
    position: relative;
}

#msgbColor{
    position: relative;
    top: 60px;
    left: 90px;
}

#bodyColor{
    position: relative;
    top: 45px;
    left: 25px;
}

#hBotColor{
    position: relative;
    top: 35px;
    left: 46px;
} */
.area_cor:hover {
    border-radius: 20px;
    width: 18vw;
    height: 38px;
}

.area_cor:hover .color_label {
    content-visibility: visible;
    transition: .5s;
    right: 2vw;
    width: 8vw;
}

#headerBot {
    width: 60px;
    height: 35px;
    position: relative;
    top: 30px;
    left: 70px;
}

#config_header {
    position: relative;
    top: 0px;
    padding-top: 1px;
    width: 100%;
    height: 70px;
    background-color: #e0a555;
    text-align: center;
    align-items: center;
    color: black;
    border-color: black;
    border-radius: 20px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

#janela_config {
    position: absolute;
    top: -1vw;
    left: 170px;
    width: 50vw;
    height: fit-content;
    /* display: none; */
    background-color: rgb(28, 34, 36);
    color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    z-index: 3;
    transform: scale(0.9);
    box-shadow: 5px 20px 90px 20px white;
    border-radius: 20px;
}

#navButton_fec {
    visibility: hidden;
}

.butts {
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    transform: rotate(90deg);
    font-size: large;
    background-color: rgb(204, 184, 184);
    top: 5vw;
    left: 5vw;
    z-index: 3;
}

.janelaAtt {
    animation: janela 1s forwards;
}

.janeladAtt {
    animation: janela 1s reverse;
}

/* @keyframes janela {
    from {
    width: 1vw;
    height: 1vw;
    border: 1px solid black;
    display:none;
    border-radius: 100%;
    }

    to {
    width: 40vw;
    height: 48vw;
    border: 1px solid black;
    display:inherit;
    border-radius: 0%;
    }
} */

#logo1 {
    left: 60px;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: initial;
    position: absolute;
    overflow: hidden;
}

#backgrounds {
    position: relative;
    width: 20vw;
    height: 30vw;
    top: -40vw;
    float: right;
}

.imgsArea {
    width: 100%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0a555;
}

.imgShow {
    width: 140px;
    height: 100px;
    background-color: gray;
    position: relative;
}

.imgInput {
    position: relative;
}

/* Novos Arrays */

#array_area {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: aqua;
    top: -20vw;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.novo_array {
    position: relative;
    background-color: red;
    width: 100%;
    top: -2vw;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
}

.array_input {
    margin-top: -0vw;
    width: 100%;
    border-radius: 3px;
    outline: none;
    
}

.array_show {
    background-color: blue;
    width: 100%;
    height: 1vw;
    margin-top: vw;
}

#resposta_input {}

#resposta_show {}